body{
	margin: 0;
}

p{
	margin: 0;
}


.container{
	width: 1200px;
	margin:0 auto;
	text-align: center;
}

.heroBanner h1 {
    text-align: center;
    font-size: 80px;
    background: #ffffff;
    background: linear-gradient(100deg, #91a095 0%, rgb(0 255 243) 100%);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparentr;
    font-weight: 900;
    line-height: 1;
}

h2{
	font-size: 90px;
	color: white;
	font-weight: 900;
	text-align: center;
}

.btn {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(102 182 77) 0%, rgb(56 167 139) 35%, rgb(66 48 66) 100%);
    color: white;
    font-size: 20px;
    padding: 8px 30px;
    border-radius: 5px;
    text-decoration: none;
}
.heroBanner {
    background-image: url(../images/products8.jpg);
    padding: 250px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.Productsection_01{
		background-image: url(../images/products6.jpg);
	background-color: greenyellow;
	padding: 250px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-blend-mode: multiply;
	background-attachment: fixed;
}
.Productsection_02{
		background-image: url(../images/products3.jpg);
	background-color: orange;
	padding: 250px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-blend-mode: multiply;
	background-attachment: fixed;
	
}
.Productsection_03{
	background-image: url(../images/products7.jpg);
	background-color: lightpink;
	padding: 250px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-blend-mode: multiply;
	background-attachment: fixed;
}